flows .json
[{"id":"5d05a17f.da3da","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1d5e8664.f49b6a","type":"ui_form","z":"5d05a17f.da3da","name":"","label":"","group":"ddae068.24a44f8","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"text","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"text","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"text","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"text","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"text","required":true,"rows":null},{"label":"Measles","value":"f","type":"text","required":true,"rows":null},{"label":"BMI","value":"g","type":"text","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"text","required":true,"rows":null},{"label":"Polio","value":"i","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"text","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"text","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"text","required":true,"rows":null},{"label":"GDP","value":"m","type":"text","required":true,"rows":null},{"label":"Population","value":"n","type":"text","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"text","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"text","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"text","required":true,"rows":null},{"label":"Schooling","value":"r","type":"text","required":true,"rows":null},{"label":"Developed","value":"s","type":"text","required":true,"rows":null},{"label":"Developing","value":"t","type":"text","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":220,"wires":[["a712a90d.d182b8"]]},{"id":"a712a90d.d182b8","type":"function","z":"5d05a17f.da3da","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n\nvar apikey=\"eLyezeeEBB5M9k32oSC70K1HCKIdPkiYCs8dR-gTBSJ1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["7992505b.cae84"]]},{"id":"7992505b.cae84","type":"http request","z":"5d05a17f.da3da","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":320,"wires":[["fd74f4f4.7c7c78"]]},{"id":"2c8c9ff0.e48f8","type":"http request","z":"5d05a17f.da3da","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b967c41c-d8f3-416b-832a-64cb805a73a0/deployments/004958f3-af55-444c-849c-3ede8d4223a9/online","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":360,"wires":[["3b341ae4.080596"]]},{"id":"fd74f4f4.7c7c78","type":"function","z":"5d05a17f.da3da","name":"pre prediction","func":"var token=msg.payload.access_token;\nvar instance_id=\"b967c41c-d8f3-416b-832a-64cb805a73a0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\n\nvar a=global.get(\"a\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar d=global.get(\"d\");\nvar e=global.get(\"e\");\nvar f=global.get(\"f\");\nvar g=global.get(\"g\");\nvar h=global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\n\nmsg.payload=\n{\"fields\":[\"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\",\n       \"Hepatitis B\", \"Measles \",  \"BMI\", \"under-five deaths \", \"Polio\",\n       \"Total expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\",\n       \"thinness  1-19 years\", \"thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\", \"Developed\",\n       \"Developing\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["2c8c9ff0.e48f8"]]},{"id":"3b341ae4.080596","type":"function","z":"5d05a17f.da3da","name":"get prediction","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["b35b13.0cbc84f","7c423a12.0dc3d4"]]},{"id":"7c423a12.0dc3d4","type":"ui_text","z":"5d05a17f.da3da","group":"ddae068.24a44f8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":320,"wires":[]},{"id":"b35b13.0cbc84f","type":"debug","z":"5d05a17f.da3da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":100,"wires":[]},{"id":"ddae068.24a44f8","type":"ui_group","z":"","name":"Default","tab":"16659730.f7e3c9","order":1,"disp":true,"width":"6","collapse":false},{"id":"16659730.f7e3c9","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]